/* Set the background image for the body */
body {
    background-image: url("https://github.com/imnothimngl/Final-project/blob/main/Untitled%20design.jpg?raw=true");  left:20px;
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
	
}

#content {
	
	width:300px;
	height:300px;
	color:rgb(145,205,50);
	position:absolute;
	left:40%;
	color:	);
	border:2px solid rgba(255, 255, 255,0.5);
	backdrop-filter:	blur(10px);
	padding:30px;
	top:35%
	
}

#subbutton{
	text-align:center;
}
/*remember to study the unfamilliar lines
*/