/* Set the background image for the body */
body {
    background-image: url("https://github.com/imnothimngl/Final-project/blob/main/bg4.jpg?raw=true");  left:20px;
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
	
}

#content {
	align-content:center;
	width:300px;
	height:300px;
	color:white;
	position:absolute;
	left:260px;
	color:;
	border:2px solid rgba(255, 255, 255,0.5);
	backdrop-filter:	blur(20px);
	padding:30px;
	top:350px

}
/*remember to study the unfamilliar lines*/